body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: blue;
    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.odd{
    color: darkred;
    font-style: italic;
    font-size: x-large;
}

.even{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.first{
    color: black;
    font-size: large;
    font-style: oblique;
}

.second{
    color: darkblue;
    font-size: x-large;
}